@import url("../fonts/helvetica-neue-webfont/style.css");
@font-face {
  font-family: "AcclaimExtrabold";
  font-weight: 600;
  src: url("../fonts/acclaimextrabold-2.eot") format("embedded-opentype"), url("../fonts/acclaimextrabold-2.woff") format("woff"), url("../fonts/acclaimextrabold-2.ttf") format("truetype");
}
@font-face {
  font-family: "Gobold";
  src: url("../fonts/gobold.otf");
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(53.5, 53.5, 53.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #194997;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffae00;
}

::selection {
  color: #1c1c1c;
  background: #ffae00;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  font-family: "Poppins", sans-serif;
  color: #1c1c1c;
  background: url("../media/backgrounds/background.gif") no-repeat, #f8e0c8;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: overlay;
  cursor: url("../media/images/icons/cursor-sm.png"), auto !important;
}

h1 {
  font-weight: 700;
}

h1,
h2,
h3 {
  font-family: "AcclaimExtrabold";
  text-transform: uppercase;
  font-weight: 700;
  color: #194997;
}

a {
  text-decoration: none;
  color: inherit;
}

.interactable {
  cursor: pointer;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  top: 35%;
}
.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
  content: "";
  height: 2rem;
  width: 2rem;
  background-size: contain !important;
  background-position: center !important;
}
.swiper .swiper-button-next::after {
  background: url("../media/images/icons/right.png") no-repeat;
}
.swiper .swiper-button-prev::after {
  background: url("../media/images/icons/left.png") no-repeat;
}

form .form-control {
  padding: 0.5rem 1rem;
  border-radius: 0;
}
form .form-check-input:checked {
  background-color: #194997;
  border-color: #194997;
}
form .form-check-input:focus {
  border-color: #849bc7;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(25, 73, 151, 0.25);
}
form label.error {
  color: #ffae00;
}
form .form-text {
  margin-top: 0.5rem;
  display: block;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: rgba(239, 237, 247, 0.1);
  color: rgba(239, 237, 247, 0.5);
}

.navbar {
  position: sticky;
  background-color: #a7713a;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.navbar .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  color: #efedf7;
  font-weight: 500;
  font-size: 1rem;
}
.navbar .dropdown .dropdown-toggle::after {
  color: #efedf7;
}
.navbar .navbar-toggler {
  --bs-navbar-toggler-border-color: #efedf7;
  --bs-border-width: 3px;
  --bs-navbar-toggler-border-radius: 0.5rem;
}
.navbar .navbar-toggler .navbar-toggler-icon {
  filter: brightness(10);
}

.btn[disabled] {
  pointer-events: none;
  opacity: 0.7;
}
.btn.btn-main {
  position: relative;
}
.btn.btn-main::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 3px;
  background-color: var(--bs-btn-style-color);
  left: -0.65rem;
  top: 0;
}
.btn.btn-main::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 3px;
  background-color: var(--bs-btn-style-color);
  right: -0.65rem;
  top: 0;
}
.btn.btn-yt-live {
  --bs-btn-color: #fff;
  --bs-btn-bg: red;
  --bs-btn-border-color: red;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: red;
  --bs-btn-hover-border-color: red;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: red;
  --bs-btn-active-border-color: red;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(255, 255, 255, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: red;
  --bs-btn-disabled-border-color: red;
}
.btn.btn-pink {
  --bs-btn-color: #fff;
  --bs-btn-style-color: #fff;
  --bs-btn-bg: #194997;
  --bs-btn-border-color: #194997;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #194997;
  --bs-btn-hover-border-color: #194997;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #194997;
  --bs-btn-active-border-color: #194997;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(255, 255, 255, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #194997;
  --bs-btn-disabled-border-color: #194997;
}
.btn.btn-purple {
  --bs-btn-color: #fff;
  --bs-btn-style-color: #f8e0c8;
  --bs-btn-bg: #f8e0c8;
  --bs-btn-border-color: #f8e0c8;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #f8e0c8;
  --bs-btn-hover-border-color: #f8e0c8;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #f8e0c8;
  --bs-btn-active-border-color: #f8e0c8;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(255, 255, 255, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #f8e0c8;
  --bs-btn-disabled-border-color: #f8e0c8;
}
.btn.btn-gold {
  --bs-btn-color: #1c1c1c;
  --bs-btn-style-color: #ffae00;
  --bs-btn-bg: #ffae00;
  --bs-btn-border-color: #ffae00;
  --bs-btn-hover-color: #1c1c1c;
  --bs-btn-hover-bg: rgb(204, 139.2, 0);
  --bs-btn-hover-border-color: rgb(204, 139.2, 0);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #1c1c1c;
  --bs-btn-active-bg: rgb(204, 139.2, 0);
  --bs-btn-active-border-color: rgb(204, 139.2, 0);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(255, 255, 255, 0.125);
  --bs-btn-disabled-color: #1c1c1c;
  --bs-btn-disabled-bg: rgb(204, 139.2, 0);
  --bs-btn-disabled-border-color: rgb(204, 139.2, 0);
}
.btn.btn-hover-gold {
  --bs-btn-hover-color: #1c1c1c;
  --bs-btn-hover-bg: #ffae00;
  --bs-btn-hover-border-color: #ffae00;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #1c1c1c;
  --bs-btn-active-bg: #ffae00;
  --bs-btn-active-border-color: #ffae00;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(255, 255, 255, 0.125);
}
.btn.btn-hover-white {
  --bs-btn-hover-color: #1c1c1c;
  --bs-btn-hover-bg: #efedf7;
  --bs-btn-hover-border-color: #efedf7;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #1c1c1c;
  --bs-btn-active-bg: #efedf7;
  --bs-btn-active-border-color: #efedf7;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(255, 255, 255, 0.125);
}
.btn {
  border-radius: 0;
  padding: 0.5rem 1rem;
  font-weight: 500;
}

.modal {
  color: #1c1c1c;
}

.hero-icon-btn {
  border-radius: 3rem;
  overflow: hidden;
  font-size: 1.2rem;
  display: flex;
  padding-left: 1rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  z-index: 1;
}
.hero-icon-btn::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 1;
  right: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  transform: translateX(100%);
}
.hero-icon-btn:hover::after {
  transform: translateX(0%);
}
.hero-icon-btn {
  width: fit-content;
}
.hero-icon-btn.btn-primary .icon {
  background-color: #f8e0c8;
}
.hero-icon-btn.btn-primary .icon::after {
  background-color: #f8e0c8;
}
.hero-icon-btn.btn-primary:hover::after {
  z-index: -1;
  background-color: #f8e0c8;
  transform: translateX(0%);
}
.hero-icon-btn .icon {
  font-size: 1.5rem;
  width: 3rem;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  border-radius: 3rem;
}
.hero-icon-btn.btn-pink .icon {
  background-color: #194997;
}
.hero-icon-btn.btn-pink .icon::after {
  background-color: #194997;
}
.hero-icon-btn.btn-pink:hover::after {
  z-index: -1;
  background-color: #194997;
  transform: translateX(0%);
}
.hero-icon-btn .icon {
  font-size: 1.5rem;
  width: 3rem;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  border-radius: 3rem;
}
.hero-icon-btn.btn-gold .icon {
  background-color: #ffae00;
}
.hero-icon-btn.btn-gold .icon::after {
  background-color: #ffae00;
}
.hero-icon-btn.btn-gold:hover::after {
  z-index: -1;
  background-color: #ffae00;
  transform: translateX(0%);
}
.hero-icon-btn .icon {
  font-size: 1.5rem;
  width: 3rem;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  border-radius: 3rem;
}
.hero-icon-btn.btn-red .icon {
  background-color: #ea1f27;
}
.hero-icon-btn.btn-red .icon::after {
  background-color: #ea1f27;
}
.hero-icon-btn.btn-red:hover::after {
  z-index: -1;
  background-color: #ea1f27;
  transform: translateX(0%);
}
.hero-icon-btn .icon {
  font-size: 1.5rem;
  width: 3rem;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  border-radius: 3rem;
}
.hero-icon-btn.btn-blue .icon {
  background-color: #194997;
}
.hero-icon-btn.btn-blue .icon::after {
  background-color: #194997;
}
.hero-icon-btn.btn-blue:hover::after {
  z-index: -1;
  background-color: #194997;
  transform: translateX(0%);
}
.hero-icon-btn .icon {
  font-size: 1.5rem;
  width: 3rem;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  border-radius: 3rem;
}
.hero-icon-btn.btn-white .icon {
  background-color: #efedf7;
}
.hero-icon-btn.btn-white .icon::after {
  background-color: #efedf7;
}
.hero-icon-btn.btn-white:hover::after {
  z-index: -1;
  background-color: #efedf7;
  transform: translateX(0%);
}
.hero-icon-btn .icon {
  font-size: 1.5rem;
  width: 3rem;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  border-radius: 3rem;
}
.hero-icon-btn.btn-black .icon {
  background-color: #1c1c1c;
}
.hero-icon-btn.btn-black .icon::after {
  background-color: #1c1c1c;
}
.hero-icon-btn.btn-black:hover::after {
  z-index: -1;
  background-color: #1c1c1c;
  transform: translateX(0%);
}
.hero-icon-btn .icon {
  font-size: 1.5rem;
  width: 3rem;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  border-radius: 3rem;
}

.dropdown .dropdown-toggle::after {
  color: #194997;
}
.dropdown .dropdown-toggle.show::after {
  color: #ffae00;
}
.dropdown .dropdown-menu {
  --bs-dropdown-link-active-bg: #194997;
  border-radius: 0;
}
.dropdown .dropdown-menu[data-bs-popper] {
  top: calc(100% + 0.8rem);
}

.card-plain {
  border: 3px solid #194997;
  padding: 0.5rem;
  border-radius: 1rem;
  color: #1c1c1c;
}
.card-plain .card-body {
  padding: 1rem;
  background-color: #1c1c1c;
  border-radius: 0.5rem;
}
.card-plain.form-tile {
  padding: 0;
  color: #1c1c1c;
}
.card-plain.form-tile .card-body {
  padding: 2rem;
  background-color: rgba(28, 28, 28, 0.4);
}
.card-plain.category-tile {
  color: #1c1c1c;
  padding: 0;
  border: 3px solid transparent;
}
.card-plain.category-tile:hover {
  border-color: #ea1f27;
}
.card-plain.category-tile .icon {
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
}
.card-plain.category-tile .icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-plain.category-tile .card-body {
  background-color: rgba(28, 28, 28, 0.4);
}

.scrollTo {
  position: fixed;
  z-index: 99;
  bottom: 10%;
  right: 1rem;
  background-color: #194997;
  border-radius: 3rem;
  padding-left: 1rem;
}
.scrollTo #scrollToTop {
  width: 3rem;
  aspect-ratio: 1;
  display: block;
  padding: 0.5rem;
}
.scrollTo #scrollToTop img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.5);
  }
  100% {
    box-shadow: 0 0 0 0.5rem transparent;
  }
}
.live-badge {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: red;
}
.live-badge.pulse {
  animation: pulse-animation 2s infinite;
}

.red-railing {
  height: 100px;
  background-image: var(--footer-bg);
  background-repeat: repeat-x;
  background-size: contain;
}
@media screen and (min-width: 768px) {
  .red-railing {
    height: 200px;
  }
}

.post-content {
  color: #efedf7;
}
.post-content a {
  color: #ffae00;
}
.post-content.misc * {
  font-size: 13px;
}
.post-content.misc ol {
  margin-bottom: 1.5rem;
}
.post-content.misc ol li > ol {
  padding-left: 1rem;
}
.post-content.misc ol li {
  margin-bottom: 1rem;
}
.post-content.misc ol li:has(h5)::marker {
  font-size: 1.2rem;
}
.post-content.misc ol li:has(h5) h5 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.post-content.misc table {
  width: 100%;
  margin-bottom: 1rem;
}
.post-content.misc table,
.post-content.misc th,
.post-content.misc td {
  border: 1px solid #efedf7;
  border-collapse: collapse;
}
.post-content.misc th,
.post-content.misc td {
  padding: 0.4rem 0.8rem;
}

.footer {
  font-size: 14px !important;
  background-color: #1c1c1c;
  color: #efedf7;
}

.partners-nav .nav-link p {
  font-size: 14px !important;
}

.fullscreen {
  height: calc(100vh - 80px);
  width: 100%;
}

.text-lg {
  font-size: max(2.9vmin, 1rem) !important;
}

.text-style-theme {
  font-family: "AcclaimExtrabold";
  text-transform: uppercase;
}

.text-muted {
  color: inherit !important;
  opacity: 0.5;
}

.text-primary {
  color: #f8e0c8 !important;
}

.bg-primary {
  background-color: #f8e0c8 !important;
}

.text-pink {
  color: #194997 !important;
}

.bg-pink {
  background-color: #194997 !important;
}

.text-gold {
  color: #ffae00 !important;
}

.bg-gold {
  background-color: #ffae00 !important;
}

.text-red {
  color: #ea1f27 !important;
}

.bg-red {
  background-color: #ea1f27 !important;
}

.text-blue {
  color: #194997 !important;
}

.bg-blue {
  background-color: #194997 !important;
}

.text-white {
  color: #efedf7 !important;
}

.bg-white {
  background-color: #efedf7 !important;
}

.text-black {
  color: #1c1c1c !important;
}

.bg-black {
  background-color: #1c1c1c !important;
}

/* Summernote CSS */
.note-editor {
  font-family: "Poppins", sans-serif !important;
  background-color: #fff;
}
.note-editor h1,
.note-editor h2,
.note-editor h3 {
  font-family: "Poppins", sans-serif !important;
  font-size: 1.4rem;
  text-transform: none;
}

/* Summernote CSS */
.section {
  padding: max(5%, 2rem) 0;
}

.section-title {
  width: fit-content;
}
.section-title h2 {
  width: fit-content;
  font-size: max(2.5rem, 6vmin);
}
.section-title p {
  font-family: "AcclaimExtrabold";
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  margin: 0;
  padding-left: 4.5rem;
  font-size: 1.2rem;
  color: #ffae00;
}
.section-title p::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 4rem;
  height: 1px;
  background-color: #ffae00;
}

.page-title {
  width: fit-content;
}
.page-title h1 {
  width: fit-content;
  font-size: max(3rem, 10vmin);
}
.page-title p {
  font-family: "AcclaimExtrabold";
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  margin: 0;
  padding-left: 4.5rem;
  font-size: 1.2rem;
  color: #ffae00;
}
.page-title p::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 4rem;
  height: 1px;
  background-color: #ffae00;
}

.tile {
  border: 3px solid transparent;
  padding: 0.25rem;
  display: block;
  border-radius: 1.2rem;
}
.tile:hover {
  border-color: #194997;
}

.speaker-tile {
  display: block;
  padding-bottom: 0.5rem;
}
.speaker-tile .image {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}
.speaker-tile .image::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 40%;
  background-color: #efedf7;
  clip-path: polygon(0 30%, 0% 100%, 100% 100%);
  left: 0;
  bottom: 0;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.speaker-tile .image::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 60%;
  background: #ea1f27;
  clip-path: polygon(100% 30%, 0% 100%, 100% 100%);
  left: 0;
  bottom: 0;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.speaker-tile.interactable:hover {
  box-shadow: 0 0.25rem 0 0 #194997;
}
.speaker-tile h4 {
  font-size: 1.3rem;
}
.speaker-tile p {
  font-size: 0.8rem;
}

.gallery-masonry {
  width: 100%;
  columns: 2;
}
.gallery-masonry img {
  width: 100%;
  object-fit: contain;
}
.gallery-masonry figure {
  width: 100%;
  overflow: hidden;
  border-radius: 1rem;
  margin-bottom: 0;
}

@media screen and (min-width: 512px) {
  .gallery-masonry {
    columns: 3;
  }
}
@media screen and (min-width: 1440px) {
  .gallery-masonry {
    columns: 4;
  }
}
@media screen and (min-width: 1640px) {
  .gallery-masonry {
    columns: 5;
  }
}
.animated-logo {
  position: relative;
}
.animated-logo::after {
  content: "";
  position: absolute;
  width: 17%;
  aspect-ratio: 1;
  left: 0%;
  top: 17%;
  z-index: -1;
  background: url("../media/logos/chakri.png") no-repeat;
  background-position: center;
  background-size: contain;
  animation: spin 8.5s linear infinite;
}

h2.hero-text {
  text-align: center;
  font-family: "Gobold";
  font-weight: 400;
  font-size: 2.5rem;
}

.hero-slide {
  background: url("https://placehold.co/1920x1080") no-repeat;
  background-position: center;
  height: calc(100vh - 80px);
  width: 100%;
  overflow: hidden;
  padding: max(7%, 2rem) 0;
  position: relative;
}
.hero-slide .element {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: min(50%, 400px);
}
.hero-slide .media-content {
  position: relative;
  z-index: 1;
}
.hero-slide .text-content {
  margin-bottom: 2rem;
}

.staged_process__wrapper .stage__tile {
  position: relative;
}
.staged_process__wrapper .stage__tile .stage__title {
  color: rgb(104.5, 104.5, 104.5);
  margin-bottom: 1rem;
}
.staged_process__wrapper .stage__tile .stage__details {
  min-height: 100px;
  border: none;
  border-radius: 0.25rem;
  color: rgb(104.5, 104.5, 104.5);
}
.staged_process__wrapper .stage__tile .stage__details.card {
  background-color: rgba(28, 28, 28, 0.4);
}
.staged_process__wrapper .stage__tile .stage__details .stage__content .icon img {
  filter: grayscale(1);
}
.staged_process__wrapper .stage__tile .stage__details h5 {
  font-size: 1rem;
  font-weight: 600;
}
.staged_process__wrapper .stage__tile .stage__details p {
  font-size: 0.8rem;
}
.staged_process__wrapper .stage__tile.active .card,
.staged_process__wrapper .stage__tile.active .card-body {
  background-color: #1c1c1c;
}
.staged_process__wrapper .stage__tile.active .stage__title {
  color: #194997;
}
.staged_process__wrapper .stage__tile.active .stage__title h5 {
  font-weight: 600;
}
.staged_process__wrapper .stage__tile.active .stage__details .stage__content .icon img {
  filter: grayscale(0) hue-rotate(-45deg);
}
.staged_process__wrapper .stage__tile.active .stage__details {
  box-shadow: 0 0 0 2px #194997;
  color: #1c1c1c;
}
.staged_process__wrapper .stage__tile.active .stage__details h5 {
  color: #194997;
}